tables/CH4.csv
tables/CO.csv
tables/HUM.csv
tables/NETR.csv
tables/NMHC.csv
tables/NO.csv
tables/NO2.csv
tables/NOX.csv
tables/OX.csv
tables/PM25.csv
tables/PMBH.csv
tables/PMFL.csv
tables/RAIN.csv
tables/SO2.csv
tables/SPM.csv
tables/SPMB.csv
tables/SUN.csv
tables/TEMP.csv
tables/THC.csv
tables/UV.csv
tables/WD.csv
tables/WS.csv
.vscode/
Pipfile.lock
dist/
*.pyc
grids/
*.mp4
poetry.lock
